<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Product import has an error</h1>
    <p>
      <%= @error.message %>
    </p>
    <p>
    </p>
  </body>
</html>

