<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Product import is done</h1>
    <p>
      A total of <%= @products.count %> products imported.
    </p>
    <p>
    </p>
  </body>
</html>

