    <div id="footer">
				<p>&nbsp;</p>
		<p>
		 <a href="http://dealsoutlet.net/site/aboutus/">About us</a> <a href="http://dealsoutlet.net/site/contactus/">Contact us</a> 
		 <a href="http://dealsoutlet.net/site/sitemap/">Sitemap</a> 
		 <a href="http://dealsoutlet.nethttp://apps.facebook.com/dealsoutlet_net/">Find us on Facebook</a> 
		 <a href="http://dealsoutlet.nethttp://twitter.com/DealsOutlet">Follow us on Twitter</a> 
		 <a href="http://dealsoutlet.net/xml/rss2/kw/top" title="Subscribe Feed">RSS</a>
		</p> 
		<p id="copyRight">
		 &copy; 2004-2009 The World's Gate, Inc. All Rights Reserved. 
		 <a href="http://dealsoutlet.net/site/privacy/">Privacy Policy</a> <a href="http://dealsoutlet.net/site/tos/">Terms of Use</a> 
		</p> 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11366110-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    </div><!-- end #footer -->
    
