	<div id="header">
				<div id="headerBanner">
			<!--<div><%= image_tag("http://dealsoutlet.net/media/logo/top_banner_l.gif", border: "0") %></div>-->
			<div><img border="0" src="http://dealsoutlet.net/media/logo/top_banner_l.gif"/></div>
			<div id="headerLogo"><a rel="nofollow" href= <%= root_path %>><%= image_tag("http://dealsoutlet.net/media/logo/dealsoutlet.gif", alt: "Deals Outlet", boarder: "0")%></a></div>  
			<div id="headerSearch">
			  <div id="searchBox">
				<form method="get" action="/show/search">
				<input id="search" type="text" value="Search deals" name="search" onblur="if(this.value=='') { this.value='Search deals';}" onfocus="if(this.value=='Search deals') this.value='';"/>
				</form>
				<input type="submit" value="Search" onclick="searchDeals()" />
			  </div>
			</div>
			<div><%= image_tag("logo/top_banner_r.gif", border: "0") %></div>
		</div>
		
		<div id="headerCategory">
			<div id="topMenuShim">&nbsp;</div>
			<div><img border="0" src="http://dealsoutlet.net/media/logo/top_menu_l24.png"/></div>
			<div class="topMenu"><img class="bulletYellow" border="0" src="http://dealsoutlet.net/media/logo/bullet_yellow.png"/><a href="http://dealsoutlet.net/show/deal/merchant/1/name/Amazon">Amazon</a></div>
			<div class="topMenu"><img class="bulletYellow" border="0" src="http://dealsoutlet.net/media/logo/bullet_yellow.png"/><a href="http://dealsoutlet.net/show/deal/merchant/995/name/Priceline">Priceline</a></div>
			<div class="topMenu"><img class="bulletYellow" border="0" src="http://dealsoutlet.net/media/logo/bullet_yellow.png"/><a href="http://dealsoutlet.net/show/deal/merchant/20/name/Orbitz">Orbitz</a></div>
			<div class="topMenu"><img class="bulletYellow" border="0" src="http://dealsoutlet.net/media/logo/bullet_yellow.png"/><a href="http://dealsoutlet.net/show/deal/merchant/998/name/Travelocity">Travelocity</a></div>
			<div><img border="0" src="http://dealsoutlet.net/media/logo/top_menu_r24.png"/></div>
		</div>
	</div>	<!-- end #header -->
	
  
