       			<div id="contentRight">
									<div class="signupboxTopHorizontal">
				<div><img border="0" src="http://dealsoutlet.net/media/logo/signupbox_top_l.png"/></div>
				<div id="signupboxTop">Setup Deals Alerts
				</div>
				<div><img border="0" src="http://dealsoutlet.net/media/logo/signupbox_top_r.png"/></div>
			</div>
			<div class="signupboxContainer">
			  <div id="signupboxBody">
			    <form id="signinform" action="/user/signin" onsubmit="return signin()">
			  	<div class="signinText">Username:</div>
			  	<div><input class="signinInput" name="username" type="text"/></div>
			  	<div class="signinText">Password:</div>
			  	<div><input id="signinpassword" class="signinInput" name="password" type="password"/></div>
			  	<div id="signinButtons">
			  	<input id="signinButton" type="submit" value="Signin!"/>
			  	<a href="/user/signup"><input id="signupButton" type="button" value="Signup!"/></a>
				<input type="hidden" name="check" value="1"/>
			  	</div>
			   </form>

			  </div>
			<div id="profileBody" style="display:none">
    				<a href="http://www.dealsoutlet.net/member/profile" rel="nofollow">Update Profile</a>
    				<br>
    				<a href="/user/signout" rel="nofollow">Sign out</a>
    				<a href="/user/signup" rel="nofollow">Sign up</a>
    				<br>
    				<br> Setup Deal Alert <br>
  				<input id="alertKw" type="text" onblur="if(this.value=='') { this.value='Enter Keywords';}" onfocus="if(this.value=='Enter Keywords') this.value='';" value="Enter Keywords" name="alertKw" size="11">
  				<input type="button" value="Submit" onclick="addAlert()">
  				<br>
  				<br>
      				<b>Existing alerts</b>
    				<div id="allAlerts">
      				<br>
      				<span id="alertList">computer</span>
      				<span>
        			<input type="button" onclick="deleteAlert(95)" value="delete">
      				</span>
			        </div>
  			</div>

			</div>
			
			<div class="signupboxHorizontal">
				<div><img border="0" src="http://dealsoutlet.net/media/logo/signupbox_bottom_l.png"/></div>
				<div id="signupboxBottom"></div>
				<div><img border="0" src="http://dealsoutlet.net/media/logo/signupbox_bottom_r.png"/></div>
			</div>
					
			<div class="horizontalSpace20">&nbsp;</div>

			<div class="rightSectionHead">
				<div><img border="0" src="http://dealsoutlet.net/media/logo/category_tab_l.png"/></div>
				<div class="rightSectionTitle">
					<div class="sectionTitleText">Travel</div>
				</div>
				<div><img border="0" src="http://dealsoutlet.net/media/logo/category_tab_r.png"/></div>
			</div>

			<div class="rightSectionBodyContainer">
		        <div class="rightSectionBody">
			<ul>
				<% @travel_sites.each do |site| %>
				<li> <a href="<%= site.url %>"><%= site.name %></li>
				<% end %>
			</ul>
			<div class="listCatalog"><a href="http://dealsoutlet.net/show/deal/catalog/177/name/Travel+%26+Vacation">List All...</a></div>
			  </div>
			</div>

			<div class="horizontalSpace20">&nbsp;</div>
					

			<div class="rightSectionHead">
				<div><img border="0" src="http://dealsoutlet.net/media/logo/category_tab_l.png"/></div>
				<div class="rightSectionTitle">
					<div class="sectionTitleText">Submit a Deal</div>
				</div>
				<div><img border="0" src="http://dealsoutlet.net/media/logo/category_tab_r.png"/></div>
			</div>

			<div class="rightSectionBodyContainer">
			  <div class="rightSectionBody">
			  	<div id="submitDealReturnText"></div>
				<textarea id="submitDeal" cols="20" rows="3" name="submitDeal"></textarea>				
				<input type="button" value="Submit" onclick="submitDeal()"/>
			  	<div id="submitDealReturnText"></div>
			  </div>
			</div>
</div>
